<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/wiz-icon.png">

    <title>WIZ</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/blog.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .row > div{margin-left:16px;}
        h4,h5{color:#cc0000;font-family: Verdana, Arial, Helvetica, sans-serif;}
        ul > li {padding:2px;}
        .nav > li > span:first-child{font-weight:bold;}
        body{font-family: Verdana, Arial, Helvetica, sans-serif;font-size:13px;}
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div style="margin-top:10px;"></div>
        <div>
            <h4>WPC 2014 Conference review</h4>
            <p>
                The International Wood Plastic Composite conference was held in New Delhi on March 24th -25th 2014, which was organized by WIZ Business, and supported by WPC Union China and Suzhou JwellMachinery Co., Ltd.
                The leading players of WPC industries in Asia gathered at this event, discussing about the commercial and technical issues on this market.
                Altogether there were 17 speeches and one panel discussion from the leading players of WPC industry on this conference, which made this an informative and excellent conference.
            </p>
            <h5>Topics</h5>
            <ul class="nav">
                <li>
                    <span>Marketing and Standards in the Asian Market</span>
                    <span>, CEO, WPC Corporation</span>
                </li>
                <li>
                    <span>WPC Industry Development and Prospects in China</span>
                    <span>, Secretary General, WPC Union China</span>
                </li>
                <li>
                    <span>WPC Processing in General and Current Trends in Europe</span>
                    <span>, Product Manager, Battenfeld Cincinnati</span>
                </li>
                <li>
                    <span>Latest Developments in WPC Products</span>
                    <span>, Product Manager Machines, Greiner Tech.Profile GmbH</span>
                </li>
                <li>
                    <span>Technology Developments and Global Market Trends</span>
                    <span>, Int’l Technical Manager- Plastics, Struktol Company of America</span>
                </li>
                <li>
                    <span>TechnA Journey of 3 years & Prevailing Micro Level Issues in the Industry,Possible Opportunities, Market Potential and Challenges for WPC products in India</span>
                    <span>，Director, KPS Consultants &Impex Pvt. Ltd</span>
                </li>
                <li>
                    <span>Indian Furniture Industry and Potential market for WPC</span>
                    <span>, President, Association of Furniture Manufacturers & Traders</span>
                </li>
                <li>
                    <span>Evolution of Technologies in Wood Composites</span>
                    <span>, Director HK/Korea, NAMU ECO Alternatives</span>
                </li>
                <li>
                    <span>Extrusion Innovation in WPC Production</span>
                    <span>, General Manager, Suzhou Jwell Machinery Co. Ltd</span>
                </li>
                <li>
                    <span>Advanced Extrusion Technology for Manufacturing WPC</span>
                    <span>, ENTEX Rust &MItschke GmbH</span>
                </li>
                <li>
                    <span>Keen on Green? ... Go for PVC</span>
                    <span>,Sr. Manager, Polymer Business, Reliance Industries Limited</span>
                </li>
                <li>
                    <span>WPC Processing: Role of Additives</span>
                    <span>, Technical Sales Manager, Baerlocher India Additives</span>
                </li>
                <li>
                    <span>Adhesives for Different Substrates Applications</span>
                    <span>, R&D Centre, 3M India Ltd.</span>
                </li>
                <li>
                    <span>Additives for WPC</span>
                    <span>, Mr. PrashantKulkarni, Head BU-Additives, Clariant Chemicals (India) Limited</span>
                </li>
                <li>
                    <span>FSC Certification in India and WPC Market</span>
                    <span>, SAARC & GULF Courtries Representative</span>
                </li>
                <li>
                    <span>Natural Fiber Filled Thermoplastic Composites</span>
                    <span>, Director, M/s. KonkanSpeciality Poly Products Pvt. Ltd. (KONSPEC)</span>
                </li>

            </ul>
        </div>
    </div>
</div>
</body>
<script src="/static/js/jquery-1.11.2.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script>
    parent.$("iframe").height("550px");
</script>
</html>